########################
## gitignore template ##
########################

# macOS stuff
.DS_Store

# other
.vscode/
__pycache__/
wandb/
*.zip

# jupyter stuff
.ipynb_checkpoints/

# LaTeX stuff
# *.pdf
*.out
*.aux
*.log
*latexmk
*gz
*fls

# Repo specific
input/
logs/
submissions/

#############
## ALLOWED ##
#############
# the syntax is like this >>
# !/path/to/file.ipynb
